@font-face {
  font-family: "Nunito";
  src: url("../public/Nunito-SemiBold.ttf");
}

.App {
  height: 100vh;
}

.room {
  /* Set the background image */
  background-image: url("../public/kitchentile.jpg");
  background-repeat: repeat; /* This will tile the image */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fridge {
  /* Align the box in center */
  margin: 50px auto 0 auto; /* Set bottom margin to 0 */
  padding: max(100px, 10%) 0px max(35%, 10%) 0px;

  background-color: rgb(255, 249, 249);

  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 35px;
  border-width: 4.5px;

  width: 23%;
  height: 10%;

  position: relative; /* Use relative positioning */

  /* Set the fridge as a flex container */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items to the end */
}

.fridge-only {
  background: radial-gradient(
    circle at center,
    rgb(233, 246, 253),
    rgb(255, 255, 255)
  );
  /* Make the freezer position absolute */
  position: absolute;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  left: 0px;
  right: 0px;
  top: 0.5px;
  bottom: 40%;
  text-align: center;
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
}

.freezer {
  padding-top: 10%;
  border-top: #000 3.5px solid;
  background: radial-gradient(
    circle at center,
    rgb(233, 246, 253),
    rgb(255, 255, 255)
  );

  /* Make the freezer position absolute */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  text-align: center;
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
}

.floor {
  /* Set border at the top of the box */
  border-top: 3.5px solid #000;
  /* Set the background image */
  background-image: url("../public/kitchenfloor.jpg");
  background-repeat: repeat; /* This will tile the image */

  height: 35vh;
}

.pinboard {
  background-image: url("../public/corkboard.jpg");
  background-repeat: repeat; /* This will tile the image */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  position: absolute;
  top: 10%;
  left: 10%;
  width: 15%;
  height: 15%;

  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 3.5px;

  text-align: center;
  color: rgb(251, 243, 243);
  font-weight: 900;
  font-size: 24px;
  text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;

  /* Use Flexbox to center the text */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.shelf {
  display: flex;
  flex-direction: row;
  gap: 8px;

  border-bottom: solid 3.5px #1d1d1d;
  background: linear-gradient(rgb(236, 249, 255), rgb(255, 255, 255));

  width: 90%;
  height: 12.5%;
  margin: 8% 0% 5% 5%;
  z-index: 2;
}

.fridge-door {
  position: absolute;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  left: 0px;
  right: 0px;
  top: 0.5px;
  bottom: 40%;
  text-align: center;
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
}

.fridge-handle {
  background-color: black;

  width: 2%;
  height: 20%;
  margin: 80% 0% 0% 10%;
}

.freezer-door {
  padding-top: 10%;
  border-top: #000 3.5px solid;

  /* Make the freezer position absolute */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  text-align: center;
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
}

.freezer-handle {
  background-color: black;

  width: 2%;
  height: 20%;
  margin: 10% 0% 0% 10%;
}

.fridge-door-opened {
  border-top: 4.5px solid;
  border-left: 4.5px solid;
  border-right: 4.5px solid;
  border-bottom: 2px solid;
  border-color: rgb(0, 0, 0);

  background: linear-gradient(rgb(242, 246, 248), rgb(255, 255, 255));
  position: absolute;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: auto;
  width: 100%;
  z-index: 1;

  left: 100%;
  right: 0px;
  top: 0.5px;
  bottom: 40%;
  text-align: center;
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
}

.shelf-big {
  border-bottom: solid 3.5px #1d1d1d;
  border-left: solid 3.5px #1d1d1d;
  border-right: solid 3.5px #1d1d1d;
  background: linear-gradient(rgb(249, 250, 250), rgb(255, 255, 255));

  width: 90%;
  height: 10.5%;
  margin: 50% 0% 5% 5%;

  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 2;
}

.freezer-door-opened {
  padding-top: 10%;
  border-top: 2px solid;
  border-left: 4.5px solid;
  border-right: 4.5px solid;
  border-bottom: 4.5px solid;
  border-color: rgb(0, 0, 0);

  background: linear-gradient(rgb(239, 247, 250), rgb(255, 255, 255));

  /* Make the freezer position absolute */
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 40%;
  z-index: 1;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  text-align: center;
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
}

.menu {
  font-family: Nunito;
  font-size: large;
  background-color: white;

  position: relative;
  margin: 30% 0% 0% 2%;
  padding: 1% 0% 1% 1%;

  width: 30%;
  height: 20%;

  opacity: 95%;
  backdrop-filter: blur(100%);

  border-radius: 25px;
}

.menu p {
  text-align: center;
  margin: 0% 0% 0% 0%;
}

.menu button {
  position: relative;
  font-family: Nunito;
  font-size: 1.2vh;
  background-color: rgb(241, 241, 241);
  border: none;
  margin: 0% 0% 0% 5%;
  border-radius: 5%;
  height: 15%;
}

button:hover {
  background-color: rgb(215, 215, 215);
}

.menu input {
  margin: 0 0 0 2%;
  height: 1.8vh;
  width: 20.5vh;
}

.close {
  position: absolute;
  top: 5%;
  left: 90%;
  font-size: 1.6em;
  padding: 0%;
}

.menu .shelf {
  /* display: flex;
  flex-direction: row;
  gap: 8px; */

  border-bottom: solid 3.5px #1d1d1d;
  background: white;

  width: 90%;
  height: 30%;
  margin: 5% 0% 5% 5%;
}

/* .fridge .shelf {
  display: flex;
  flex-direction: row;
  gap: 8px;
} */

.shelf-item {
  position: relative;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;

  width: 20%;
  height: 100%;
}

.fridge-only .shelf-bottom {
  display: flex;
  flex-direction: row;
  gap: 8px;
  
  background: linear-gradient(rgb(236, 249, 255), rgb(255, 255, 255));

  width: 90%;
  height: 13.5%;
  margin: 13% 0% 5% 5%;
}

.menu .shelf-big {
  display: flex;
  flex-direction: row;
  gap: 8px;

  background: white;
  width: 90%;
  height: 30%;
  margin: 10% 0% 5% 5%;
}

.menu .shelf-bottom {
  display: flex;
  flex-direction: row;
  gap: 8px;

  border-bottom: solid 3.5px #1d1d1d;
  background: white;

  width: 90%;
  height: 30%;
  margin: 10% 0% 5% 5%;
}
